table {
  width: 100%;
  padding: 16px 32px
}

th.mat-header-cell:last-child, td.mat-cell:last-child {
  display: flex;
  padding: 21px 24px;
  justify-content: flex-end;
} 

tr:nth-child(even) {background-color: #f2f2f2;}

.total_employees {
  border: 1px solid;
  padding: 24px 0;

  img {
    width: 78px;
    align-self: center;
    margin: 0 48px;
  }

  .numbers {
    font-size: 48px;
    align-self: center;
    padding: 24px;
    text-align: center;
  }

  .badge {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 16px;
  }
}

.number_container {
  align-self: center;
  text-align: center;
}

.highest {
  align-self: center;
  font-size: 18px;
  border: 1px solid;
  padding: 32px 0;

  .label {
    padding-right: 24px;
  }

  .badge {
    font-size: 16px;
    display: block;
    width: fit-content;
  }

  .row {
    margin: 12px 0;
  }
}

@media (max-width: 540px) {
  .badge {
    margin: 12px auto;
  }
}